body{         
    position:absolute;
	margin: 0px;
	padding: 0px;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}

.black{
	background: #000;
	color: #fff;
}

.white{
	background:#fff;
	color: #000;
}

.img-invert{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

@font-face {
  font-family: BebasNeueRegular;
  src: url("font/bebas/TTF/BebasNeue.ttf");
}
p {
  font-family: BebasNeueRegular;
  font-size: 20px;
}